<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDO34N4I0A4fs0PagwlPC6s0uGp29QfJPg</string>
	<key>GCM_SENDER_ID</key>
	<string>621702210816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneymanagementapp</string>
	<key>PROJECT_ID</key>
	<string>money-m-de59d</string>
	<key>STORAGE_BUCKET</key>
	<string>money-m-de59d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621702210816:ios:2859f8823bd59efc307fe5</string>
</dict>
</plist>